
<div class="container">
    <h2 class="pb-2 border-bottom">Abonnements 2024</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2>Digital, auf Papier oder Beides. Abonnements des Überetscher Gemeindeblattes.</h2>
        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <div class="hstack gap-4">
          <a href="abo.html" class="btn btn-dark btn-lg">Abo auswählen</a>
          <a href="#" class="text-dark btn-lg">Fragen & Antworten</a>
        </div>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <i class="fa fa-laptop fa-2x"></i>
            <h3 class="mb-0">Online Probeabo</h3>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <i class="fa fa-mobile-screen fa-2x"></i>
            <h3 class="mb-0">Online Abo</h3>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <i class="fa fa-truck fa-2x"></i>
            <h3 class="mb-0">Post Abo</h3>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <i class="fa fa-shop fa-2x"></i>
            <h3 class="mb-0">Abhol Abo</h3>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
            <p><a href="" class="text-dark">Alle Abholstellen anzeigen</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>