<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <i class="fa fa-newspaper fa-5x d-block mx-auto mb-4"></i>
      <h1 class="text-body-emphasis">In einer wirklich guten Zeitung spricht die Gemeinde zu sich selbst.</h1>
      <p class="col-lg-8 mx-auto lead">
        Und genau das macht das Überetscher Gemeindeblatt – schon seit 1908. Das älteste Gemeindeblatt Südtirols hat mittlerweile tausende Ausgaben veröffentlicht. Zahlreiche Vereine aus den beiden Dörfern berichten darin wöchentlich über Geschehenes und Vorgesehenes.
      </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-4">Das Gemeindeblatt</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">100 Jahre</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Das Team</button>
      </div>
    </div>
  </div>
</div>