<div class="container">
	<h1 class="pb-2 border-bottom">Archiv der Ausgaben</h1>

	<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-4">
	  
	<div class="col">
		<div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4">
		  <div class="d-flex flex-column h-100 p-4 text-dark">
			<h4 class="pt-5 mt-5 mt-auto mb-4">50 Jahre Musikschule der Gemeinde Eppan</h4>
			<ul class="d-flex list-unstyled mt-aut">
			  <li class="me-auto">
				<i class="fa fa-newspaper fa-2x"></i>
			  </li>
			  <li class="d-flex align-items-center me-3">
				<small>Nr. 16 vom 18. April 2024</small>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>

	  	<div class="col">
		<div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4">
		  <div class="d-flex flex-column h-100 p-4 text-dark">
			<h4 class="pt-5 mt-5 mt-auto mb-4">Tag der offenen Tür in der Schule Kaltern</h4>
			<ul class="d-flex list-unstyled mt-aut">
			  <li class="me-auto">
				<i class="fa fa-newspaper fa-2x"></i>
			  </li>
			  <li class="d-flex align-items-center me-3">
				<small>Nr. 15 vom 12. April 2024</small>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>

	  	<div class="col">
		<div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4">
		  <div class="d-flex flex-column h-100 p-4 text-dark">
			<h4 class="pt-5 mt-5 mt-auto mb-4">St. Pauls gegen Tramin</h4>
			<ul class="d-flex list-unstyled mt-aut">
			  <li class="me-auto">
				<i class="fa fa-newspaper fa-2x"></i>
			  </li>
			  <li class="d-flex align-items-center me-3">
				<small>Nr. 15 vom 05. April 2024</small>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>

	  	<div class="col" style="height: 400px; align-items: center;">
		<div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4">
		  <div class="d-flex flex-column h-100 p-4 text-dark ">
			  <h4 class="pt-5 mt-auto mb-4">Tag des Wassers</h4>
			  <ul class="d-flex list-unstyled mt-aut">
			  <li class="me-auto">
				<i class="fa fa-newspaper fa-2x"></i>
			  </li>
			  <li class="d-flex align-items-center me-3">
				<small>Nr. 14 vom 30. März 2024</small>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>

	</div>
	<div class="text-center p-4 mb-4">
		<a href="" class="btn btn-dark">Alle Ausgaben lesen</a>
	</div>
  </div>