<!doctype html>
<html lang="en">
	{{> head }}	
	<body>
		{{> header }}
		<div class="container">
			<h1>{{title}}</h1>
			<p class="mb-5">{{text}}</p>

			<h3 id="general">Allgemeines</h3>
			<div class="accordion mb-5" id="accordionGeneral">   
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#oneGeneral" aria-expanded="false" aria-controls="oneGeneral">
							Welche Vorteile bringt das Online Abo?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="oneGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Kunden haben Zugang zu qualifizierten medizinischen Fachkräften und profitieren von kosteneffizienter, professioneller Rekrutierung. Bewerber erhalten maßgeschneiderte Karrierechancen und Unterstützung im Bewerbungsprozess.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#twoGeneral" aria-expanded="false" aria-controls="twoGeneral">
							Wie lange ist der Abo Zeitraum?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="twoGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Durch Anklicken des <a href="https://outlook.office365.com/book/Beratungstermin@sinexo.de/">"Termin buchen"</a>-Buttons können Termine für Erstberatungen per Telefon gebucht oder offene Fragen geklärt werden. Alternativ sind wir auch telefonisch erreichbar, um Termine abzustimmen.
							</div>
						</div>
					</div>
				</div>				
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#threeGeneral" aria-expanded="false" aria-controls="threeGeneral">
							Wie funktioniert die Bestellung?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="threeGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Wir suchen qualifizierte Bewerber für <strong>offene Stellen in medizinischen Einrichtungen</strong> und vermitteln diese an unsere Kunden. Dabei begleiten wir den gesamten Rekrutierungsprozess.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fourGeneral" aria-expanded="false" aria-controls="fourGeneral">
							Auf welche Arten kann Ich das Gemeindeblatt Abo bestellen?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="fourGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								<p>Wir sind vor allem auf die Berufe <strong>Medizinische Fachangestellte, Gesundheits- und Krankenpfleger mit und ohne deutscher Berufsanerkennung spezialisiert</strong>. In allen drei Berufsgruppen decken wir verschiedene Fach- und Tätigkeitsbereiche sowie Führungspositionen ab.</p><p>Wir bieten aber auch Jobs für <strong>weitere Stellen der Medizinbranche</strong>, wie beispielsweise Kauffrau und Kaufmann im Gesundheitswesen, Abrechnungsmanager, Praxismanager, Fachwirt im Gesundheits- und Sozialwesen, sowie Fachwirt in der ambulanten medizinischen Versorgung und andere medizinische Berufe an.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fiveGeneral" aria-expanded="false" aria-controls="fiveGeneral">
							Wo kann Ich das Print Abo abholen?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="fiveGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Unser Haupttätigkeitsgebiet liegt im Großraum Bayern mit einem Fokus auf München und Umgebung. Wir vermitteln jedoch auch in anderen Regionen Deutschlands je nach Bedarf.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sixGeneral" aria-expanded="false" aria-controls="sixGeneral">
							Wie geht sinexo mit der Vertraulichkeit der Daten um?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="sixGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Die Daten werden streng vertraulich behandelt und alle Datenschutzbestimmungen werden eingehalten. Die Informationen werden ausschließlich für den Zweck der Personalvermittlung genutzt und nicht ohne Zustimmung an Dritte weitergegeben.
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<h3 id="users">Für Abonnenten</h3>
			<div class="accordion mb-5" id="accordionGeneral">   
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#oneGeneral" aria-expanded="false" aria-controls="oneGeneral">
							Welche Vorteile bringt das Online Abo?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="oneGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Kunden haben Zugang zu qualifizierten medizinischen Fachkräften und profitieren von kosteneffizienter, professioneller Rekrutierung. Bewerber erhalten maßgeschneiderte Karrierechancen und Unterstützung im Bewerbungsprozess.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#twoGeneral" aria-expanded="false" aria-controls="twoGeneral">
							Wie lange ist der Abo Zeitraum?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="twoGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Durch Anklicken des <a href="https://outlook.office365.com/book/Beratungstermin@sinexo.de/">"Termin buchen"</a>-Buttons können Termine für Erstberatungen per Telefon gebucht oder offene Fragen geklärt werden. Alternativ sind wir auch telefonisch erreichbar, um Termine abzustimmen.
							</div>
						</div>
					</div>
				</div>				
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#threeGeneral" aria-expanded="false" aria-controls="threeGeneral">
							Wie funktioniert die Bestellung?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="threeGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Wir suchen qualifizierte Bewerber für <strong>offene Stellen in medizinischen Einrichtungen</strong> und vermitteln diese an unsere Kunden. Dabei begleiten wir den gesamten Rekrutierungsprozess.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fourGeneral" aria-expanded="false" aria-controls="fourGeneral">
							Auf welche Arten kann Ich das Gemeindeblatt Abo bestellen?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="fourGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								<p>Wir sind vor allem auf die Berufe <strong>Medizinische Fachangestellte, Gesundheits- und Krankenpfleger mit und ohne deutscher Berufsanerkennung spezialisiert</strong>. In allen drei Berufsgruppen decken wir verschiedene Fach- und Tätigkeitsbereiche sowie Führungspositionen ab.</p><p>Wir bieten aber auch Jobs für <strong>weitere Stellen der Medizinbranche</strong>, wie beispielsweise Kauffrau und Kaufmann im Gesundheitswesen, Abrechnungsmanager, Praxismanager, Fachwirt im Gesundheits- und Sozialwesen, sowie Fachwirt in der ambulanten medizinischen Versorgung und andere medizinische Berufe an.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fiveGeneral" aria-expanded="false" aria-controls="fiveGeneral">
							Wo kann Ich das Print Abo abholen?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="fiveGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Unser Haupttätigkeitsgebiet liegt im Großraum Bayern mit einem Fokus auf München und Umgebung. Wir vermitteln jedoch auch in anderen Regionen Deutschlands je nach Bedarf.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sixGeneral" aria-expanded="false" aria-controls="sixGeneral">
							Wie geht sinexo mit der Vertraulichkeit der Daten um?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="sixGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Die Daten werden streng vertraulich behandelt und alle Datenschutzbestimmungen werden eingehalten. Die Informationen werden ausschließlich für den Zweck der Personalvermittlung genutzt und nicht ohne Zustimmung an Dritte weitergegeben.
							</div>
						</div>
					</div>
				</div>
			</div>

			<h3 id="advertisers">Für Werbekunden</h3>
			<div class="accordion mb-5" id="accordionGeneral">   
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#oneGeneral" aria-expanded="false" aria-controls="oneGeneral">
							Welche Vorteile bringt das Online Abo?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="oneGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Kunden haben Zugang zu qualifizierten medizinischen Fachkräften und profitieren von kosteneffizienter, professioneller Rekrutierung. Bewerber erhalten maßgeschneiderte Karrierechancen und Unterstützung im Bewerbungsprozess.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#twoGeneral" aria-expanded="false" aria-controls="twoGeneral">
							Wie lange ist der Abo Zeitraum?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="twoGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Durch Anklicken des <a href="https://outlook.office365.com/book/Beratungstermin@sinexo.de/">"Termin buchen"</a>-Buttons können Termine für Erstberatungen per Telefon gebucht oder offene Fragen geklärt werden. Alternativ sind wir auch telefonisch erreichbar, um Termine abzustimmen.
							</div>
						</div>
					</div>
				</div>				
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#threeGeneral" aria-expanded="false" aria-controls="threeGeneral">
							Wie funktioniert die Bestellung?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="threeGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Wir suchen qualifizierte Bewerber für <strong>offene Stellen in medizinischen Einrichtungen</strong> und vermitteln diese an unsere Kunden. Dabei begleiten wir den gesamten Rekrutierungsprozess.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fourGeneral" aria-expanded="false" aria-controls="fourGeneral">
							Auf welche Arten kann Ich das Gemeindeblatt Abo bestellen?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="fourGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								<p>Wir sind vor allem auf die Berufe <strong>Medizinische Fachangestellte, Gesundheits- und Krankenpfleger mit und ohne deutscher Berufsanerkennung spezialisiert</strong>. In allen drei Berufsgruppen decken wir verschiedene Fach- und Tätigkeitsbereiche sowie Führungspositionen ab.</p><p>Wir bieten aber auch Jobs für <strong>weitere Stellen der Medizinbranche</strong>, wie beispielsweise Kauffrau und Kaufmann im Gesundheitswesen, Abrechnungsmanager, Praxismanager, Fachwirt im Gesundheits- und Sozialwesen, sowie Fachwirt in der ambulanten medizinischen Versorgung und andere medizinische Berufe an.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fiveGeneral" aria-expanded="false" aria-controls="fiveGeneral">
							Wo kann Ich das Print Abo abholen?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="fiveGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Unser Haupttätigkeitsgebiet liegt im Großraum Bayern mit einem Fokus auf München und Umgebung. Wir vermitteln jedoch auch in anderen Regionen Deutschlands je nach Bedarf.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
					<h3 class="accordion-header">
						<button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sixGeneral" aria-expanded="false" aria-controls="sixGeneral">
							Wie geht sinexo mit der Vertraulichkeit der Daten um?
						</button>
					</h3>
					<div class="accordion-collapse collapse" id="sixGeneral" aria-labelledby="" data-bs-parent="#accordionGeneral">
						<div class="accordion-body">
							<div class="col-12">
								Die Daten werden streng vertraulich behandelt und alle Datenschutzbestimmungen werden eingehalten. Die Informationen werden ausschließlich für den Zweck der Personalvermittlung genutzt und nicht ohne Zustimmung an Dritte weitergegeben.
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="text-center mb-4">
				<p class="text-center mb-4">Haben Sie noch Fragen?</p>
				<a href="" class="btn btn-dark">Schreiben Sie Uns</a>
				<a href="" class="btn btn-dark">Rufen Sie Uns an</a>
			</div>
		</div>
		{{> footer }}
	</body>
</html>
