	<div class="container">
		<h1>Aktuelle Informationen aus dem Überetsch.</h1>
		<p class="lead">Neues aus Eppan und Kaltern in der aktuellen Ausgabe Nr. 17 vom 25. April 2024. <a href="" class="text-dark">Jetzt lesen</a></p>
		<div class="hero mb-3">
			<div class="box a">
				<span class="badge rounded-pill text-dark border border-dark mb-2">Aus dem Rathaus</span>
				<h3>Nachhaltiges, integriertes Wassermanagement  für das Überetsch voranbringen</h3>
				<p>Der Bürgerhaushalt ermöglicht den Bürgerinnen und Bürgern die Abgabe von Ideen zur Gestaltung von Eppan. Letzter Abgabetermin ist der 29. April.</p>
				<a class="btn btn-dark" href="#" role="button small">Artikel lesen</a>
			</div>
			<div class="box b">
				<span class="badge rounded-pill text-dark border border-dark mb-2">Politik</span>
				<h3>Europa Wahlen 2024</h3>
				<p>Der Bürgerhaushalt ermöglicht den Bürgerinnen und Bürgern die Abgabe von Ideen zur Gestaltung von Eppan. Letzter Abgabetermin ist der 29. April.</p>
				<a class="btn btn-dark" href="#" role="button small">Artikel lesen</a>
			</div>
			<div class="box c">
				<span class="badge rounded-pill text-dark border border-dark mb-2">Kultur, Geschichte & Brauchtum</span>
				<h3>Literarische Matinee „Best of … Buch und Bier“</h3>
				<p>Lelis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
				<a class="btn btn-dark" href="#" role="button small">Artikel lesen</a>
			</div>
			<div class="box d">
				<span class="badge rounded-pill text-dark border border-dark mb-2">Menschen</span>
				<h3>Eppanerin des Monats</h3>
				<p>Der Bürgerhaushalt ermöglicht den Bürgerinnen und Bürgern die Abgabe von Ideen zur Gestaltung von Eppan. Letzter Abgabetermin ist der 29. April.</p>
				<a class="btn btn-dark" href="#" role="button small">Artikel lesen</a>
			</div>
		</div>
	</div>