<div class="container mt-5 mb-5">
	<div class="alert alert-secondary" role="alert">
	<h3 class="alert-heading position-relative">
		<span class="badge rounded-pill text-dark border border-dark fs-5">NEU</span>
		Wortanzeigen im Kleinanzeiger
	</h3>
	<p class="lead"><strong>PAKETSomemr 24*</strong>: Printausgabe und 7 Tage Online -30% <a href="#" class="text-dark">Jetzt bestellen</a></p>
	<hr>
	<p class="mb-0 small">* Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
	</div>
</div>