  <div class="container mb-4 py-4">
    <h1 class="py-4 mb-4 border-bottom">Weitere Leistungen</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>

    <div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100 p-4 bg-body-tertiary border rounded-3">
          <h3>Redaktioneller Bericht für Vereine oder Organisationen</h3>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-dark" type="button">Mehr erfahren</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="h-100 p-4 bg-body-tertiary border rounded-3">
          <h3>Online oder Print: Ihre Werbe- oder Kleinanzeige</h3>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-dark" type="button">Mehr erfahren</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="h-100 p-4 bg-body-tertiary border rounded-3">
          <h3>Job Angebot beim Überetscher Gemeindeblatt</h3>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-dark" type="button">Mehr erfahren</button>
        </div>
      </div>

    </div>
  </div>