{% extends 'layouts/main.twig' %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-12">
        <h1 class="h3 py-3 mb-3">{{ title }}</h1>
        <div class="lead">
            {{ text }}
        </div>
    </div>
{% endblock %}