<div class="card card-etr">
    <div class="row g-0">
        <div class="col-2">
            <img src="/src/assets/logo-etr.png" alt="" width="" height="" class="img-fluid">
        </div>
        <div class="col-10">
            <div class="card-body py-0">
                <h3 class="card-title">Leichte Sprache</h3>
                <p class="card-text">Herzlich willkommen auf den Internet∙seiten vom Land Südtirol in Leichter Sprache!</p>
                <p class="card-text d-none"><small class="text-body-secondary">Letzte Aktualisierung: 20.12.2024</small></p>
                <a href="index.html" class="btn btn-etr ard-link">Zur Startseite</a>
            </div>
        </div>
    </div>
</div>