<div class="container border-top">
  <footer class="pt-5">
	<div class="row">
	  <div class="col-12 mb-3">
		<a href="index.html" class="d-flex align-items-center mb-3 gap-3 link-dark text-decoration-none">
			<img src="/src/assets/project-logo.svg" alt="" width="" height="48" class="">
			<p class="mb-0 text-muted"><strong>Autonome Provinz Bozen – Südtirol</strong> <br>in Leichter Sprache</p>
		</a>
	</div>

	<div class="col-12 mb-3">
		<ul class="nav flex-row gap-3">
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0">Impressum</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0">Privacy</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0">Cookie</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0">Ideen</a></li>
		</ul>
	</div>

	<div class="d-flex flex-column flex-sm-row justify-content-between py-3 my-3 border-top">
	  <p>© 2024 Autonome Provinz Bozen</p>
	  <ul class="list-unstyled d-flex">
		<li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram"></i></a></li>
		<li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
		<li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
	  </ul>
	</div>
  </footer>
</div>