<header class="header py-3 border-bottom">
	<div class="container d-flex flex-wrap justify-content-start align-items-center">
		<a href="index.html" class="d-flex align-items-center gap-3 mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
			<img src="/src/assets/project-logo.svg" alt="" width="48" height="48" class="">
			<span class="header__text">Autonome Provinz Bozen - Südtirol<br><strong>in Leichter Sprache</strong></span>
		</a>
		<div class="header__languages">
			<ul class="nav">
				<li class="nav-item"><a href="#" class="nav-link p-2">Deutsch</a></li>
				<li class="nav-item"><a href="#" class="nav-link text-dark p-2">Italiano</a></li>
			</ul>
			<a href="#" class="">
				Zu den Seiten in schwerer Sprache von der Landes∙Verwaltung
				<i class="fa-solid fa-chevron-right m-1"></i>
			</a>
		</div>
	</div>
</header>

<nav class="py-2 bg-primary border-bottom">
	<div class="container">
		<form class="d-flex flex-columns gap-3 mb-0">
			<div class="col-8 col-lg-4">
				<label class="visually-hidden" for="searchInput">Suchbegriff</label>
				<div class="input-group">
					<input type="text" class="form-control" id="searchInput" placeholder="Suchbegriff">
				</div>
			</div>
			<div class="col-4 col-lg-8">
				<button type="submit" class="btn btn-tertiary">Suchen</button>
			</div>
		</form>
	</div>
</nav>