<div class="col-12 col-lg-4">
	<div class="sidebar-topics">
		<a href="index.html">
			<i class="fa-solid fa-home"></i>
		</a>
		<i class="fa-solid fa-chevron-right"></i>
		<h4 class="h3">Themen</h4>
	</div>
	<div class="row mb-3">
		{% for topic in topicsSidebar %}
		<div class="col-6 col-sm-6 mb-3">
			<a href="{{ topic.url }}.html" class="card card-topics card-topics-link h-100">
				<div class="card-body">
					<i class="fa-solid fa-{{ topic.icon }} fa-2x"></i>
					<h5 class="card-title m-0">{{ topic.name }}</h5>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
	{% include 'card-etr.twig' %}
</div>